<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">{{ provider.name if provider is defined else "Select provider" }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Select provider</a>
                </li>
                {% if provider is defined %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/{{ provider.slug }}">Select series</a>
                    </li>
                {% endif %}
                {% if series is defined and series.url %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ series.url }}">Link</a>
                    </li>
                {% endif %}
                {% if provider is defined %}
                    {% include "includes/dropdowns.html" %}
                {% endif %}
                {% if series is defined %}
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ url_for('episodes_json', provider=provider.slug, series_slug=series.slug, **args) }}">JSON</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ url_for('season_bbcode', provider=provider.slug, series_slug=series.slug, **args) }}">BBCode</a>
                    </li>
                {% endif %}
            </ul>
        {% if provider is defined %}
            <form class="d-flex" role="search" method="post" action="/{{ provider.slug }}/search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                       name="search"/>
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        {% endif %}
        </div>
    </div>
</nav>
